POSTGRES_USER=ABC
POSTGRES_PASSWORD=ABC
POSTGRES_DB=ABC
POSTGRES_PORT=0000
QDRANT_PORT=0000
VALKEY_PORT=0000
DOCS_PORT=3000
PGADMIN_PORT=8080
PGADMIN_DEFAULT_EMAIL=admin@truthsforge.dev
PGADMIN_DEFAULT_PASSWORD=truths_forge_admin
REDIS_COMMANDER_PORT=8081
TRUTHS_FORGE_MAX_IMPORT_BYTES=5368709120
TRUTHS_FORGE_REQUIRE_CHAT_TITLE=true
