POSTGRES_USER=forge
POSTGRES_PASSWORD=forge_dev_password
POSTGRES_DB=truths_forge_ai
POSTGRES_PORT=5432
QDRANT_PORT=6333
VALKEY_PORT=6379
DOCS_PORT=3000
PGADMIN_PORT=8080
PGADMIN_DEFAULT_EMAIL=admin@truthsforge.dev
PGADMIN_DEFAULT_PASSWORD=truths_forge_admin
REDIS_COMMANDER_PORT=8081
TRUTHS_FORGE_MAX_IMPORT_BYTES=5368709120
TRUTHS_FORGE_REQUIRE_CHAT_TITLE=true
